<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibm.pager__9_10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name="com.example.ibm.PageMe.homepage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ibm.PageMe.log_on"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ibm.PageMe.sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ibm.PageMe.page"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.ibm.PageMe.compose"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ibm.PageMe.done"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.ibm.PageMe.encryption" />
        <activity android:name="com.example.ibm.PageMe.settings"></activity>
    </application>

</manifest>